﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<div class="row">
	<h2><strong> Log in </strong></h2><br />
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your name">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email Address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="password" id="password" placeholder="Password">
			</div>
			<div class="form-group"> @*Switch in JS!!!!*@
				<label for="exampleInputPassword1">Confirm Password</label>
				<input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm">
				<span id="isNotMatchingMessage"></span>
			</div>
			<div class="form-check">
				<button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button>
				<button id ="submitBtn" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
	// Show password Button
	$("#showpassword").on('click', function () {
		var pass = $("#password");
		var fieldtype = pass.attr('type');
		if (fieldtype == 'password') {
			pass.attr('type', 'text');
			$(this).text("Hide Password");
		} else {
			pass.attr('type', 'password');
			$(this).text("Show Password");
		}
	});
	});

	$('#password, #confirmpassword').on('keyup', function () { //change to 'focusout' maybe
		if ($('#password').val() == $('#confirmpassword').val()) {
			$('#isNotMatchingMessage').html('Passwords match').css('color', 'green');
			$('#submitBtn').prop("disabled", false);
		} else {
			$('#isNotMatchingMessage').html('Passwords do not match').css('color', 'red');
			$('#submitBtn').prop("disabled", true);
		}
	});
	//If user doesn't exist in database -> show confirm field (save if not exists)
</script>