﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<a class="btn btn-success" href="@Url.Action("Register", "Account")" role="button">Authorize</a>
		<p>To use features of this application you must authorize</p>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<a class="btn btn-primary" href="@Url.Action("Recognize", "Home")" role="button">Go</a>
		<p>Get started!</p>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<a class="btn btn-info" href="@Url.Action("About", "Home")"  role="button">About</a>
		<p>Learn more</p>
	</div>
</div>