﻿
@{
	ViewBag.Title = "Recognize";
}
@Styles.Render("~/Content/recognizer.css")
<div class="container">
	<div class="row">
		<div style="width: 100%; overflow: hidden;">
			<div style="width: 400px; float: left;">
				<div class="panel-body">
					<form accept-charset="UTF-8" action="" method="POST">
						<textarea id="TextToRecognize" class="form-control counted word_split" name="message" placeholder="Type in words to recognize language" rows="5" style="margin-bottom:10px;"></textarea>
					</form>
				</div>
			</div>
			<div style="margin-left: 420px;">
				<div class="well">
					<table class="table">
						<thead>
							<tr>
								<th>User</th>
								<th>Number of Requests</th>
								<th>Last Online</th>
								<th>Average Time Between Requests</th>
								<th style="width: 36px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John Smith</td>
								<td>15</td>
								<td>12.11.2018 15:33</td>
								<td>15h</td>
								<td>
									<a href="user.html"><i class="icon-pencil"></i></a>
									<a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/ scripts / jquery.lettering - 0.6.1.min.js">
	$(document).ready(function () {
		$(".word_split").lettering('words');
	});
</script>