﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="jumbotron">
		<a href="@Url.Action("Index", "Home")"><h1>Language Recognizer</h1></a>
		<p class="lead">LR is used to recognize language of each word you type in textfield</p>
	</div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LR Open</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
